<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Landing Page</h1>
    <p> Summarize from class recording: </p>
    <form action="/summarize" method="POST" enctype="multipart/form-data">
        <input type="file" name="audioFile" id="audioFile">
        <input type="submit" value="Generate">
    </form>

    <h2>OR</h2>
    <p>Keypoints from study materials:</p>
    <form action="/keypoints" method="post" enctype="multipart/form-data">
        <textarea name="sourceText" cols="30" rows="10"></textarea>
        <input type="submit" value="Generate">
    </form>

</body>
</html>