<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Results</title>
</head>
<body>
    <div class="title"><h4>AI-Powered Note Maker</h4></div>
    <h1>Key Points</h1>
    <h2>{{headline}}</h2>
    
    <div class="results">
        <ol>
            {% for point in summary %}
            <li>{{ point }}</li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>